.feelback-container,
.feelback-style {
    --highlight: 0, 0, 0;
    --highlight-opacity: 0.08;
    --bg: #fff;

    position: relative;

    &.feelback-pulse {
        display: inline-block;
    }

    &.feelback-reaction {
        display: inline-block;
    }

    &.feelback-message.layout-button-dialogue,
    &.feelback-tagged-message.layout-button-dialog {
        display: inline-block;
    }

    textarea {
        height: 120px;
        width: 100%;
        padding: .5rem;
    }

    input {
        width: 100%;
    }

    .popup {
        display: none;
        position: absolute;
        background-color: var(--theme-bg, var(--bg));
        border: 1px solid rgba(128, 128, 128, .5);
        border-radius: 4px;
        z-index: 2;
    }

    .dialog {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        background-color: rgba(0, 0, 66, .15);

        &>:first-child {
            margin: 10% auto;
            max-width: 480px;
        }

        .content {
            padding: 1.5rem;
            border-radius: 6px;
            border: 1px solid #7d8792;
            background-color: #f3f9ff;
        }
    }

    .hidden {
        display: none;
    }
}

.feelback-q {
    display: flex;
    padding-inline: 0.4em;
    gap: 1.2em;
    align-items: center;

    @media (max-width:768px) {
        justify-content: space-between;
    }
}

.feelback-a {
    padding-inline: 0.4em;
    line-height: 32px;
}

.feelback-form {
    &>.content {
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }

    .form-title {
        font-size: 1.10em;
        font-weight: bold;
    }
}

.feelback-buttons {
    gap: 2px;
    display: flex;
    align-items: baseline;

    &.with-count {
        gap: 6px;
    }

    &.hide-zero {

        .feelback-btn:has(.feelback-count:not([data-feelback-count-value]), .feelback-count[data-feelback-count-value="0"]),
        .feelback-btn:not(:has(.feelback-count)) {
            display: none;
        }
    }

    &.attached {
        gap: 0;
    }

    &.align-end {
        flex-direction: row-reverse;
    }

    &.large {
        &>.feelback-btn {
            font-size: 1.25em;
        }
    }

    .label {
        font-size: 0.9em;
        padding-inline: 0.25em;
    }
}

.feelback-radio-group {
    padding: 0;
    margin: 0;
    border: none;
}

.feelback-radio-item {
    display: flex;
    flex-direction: row;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    align-items: flex-start;

    input[type='radio'] {
        flex-shrink: 0;
        width: unset;
        display: inline-block;
        margin: .5rem;
    }

    label {
        cursor: pointer;
        display: block;
    }

    .feelback-text {
        font-size: 0.9em;
    }
}

.feelback-icon {
    display: flex;
    line-height: 1em;
}

.feelback-count {
    font-weight: bold;
    padding-inline-start: 0.25em;

    &.hide-zero {

        &[data-feelback-count-value='0'],
        &:not([data-feelback-count-value]) {
            display: none;
        }
    }
}

.feelback-btn {
    min-width: 32px;
    height: 32px;
    padding: 0 0.4em;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 1em;
    border-radius: 0.15em;
    text-align: center;
    justify-content: center;
    align-items: center;

    &.disabled {
        cursor: default;

        &>.feelback-icon {
            opacity: 0.7;
        }
    }

    &>.active {
        display: none;
    }

    &.active {
        background-color: rgba(var(--highlight), var(--highlight-opacity));

        &>.feelback-icon {
            transform: scale(1.3);
            opacity: 1;
        }

        &>.feelback-icon.inactive {
            display: none;
        }

        &>.feelback-icon.active {
            display: flex;
        }
    }


    &:hover:not(.disabled) {
        background-color: rgba(var(--highlight),
                calc(var(--highlight-opacity) * 2));

        &>.feelback-icon {
            transform: scale(1.3);
            transition: all 350ms cubic-bezier(.35, 1.23, .5, 1.37);
        }
    }

    &.btn-reaction-picker {
        border-radius: 100%;
        background-color: rgba(var(--highlight), var(--highlight-opacity));
        border: 1px solid rgba(128, 128, 128, .5);

        .feelback-icon {
            transform: scale(1.15);
        }
    }

    &.btn-action {
        min-width: 80px;
        padding-inline: .5rem;
        text-transform: uppercase;
        font-size: .9em;
        border: 1px solid currentColor;
    }
}


.theme-dark,
html[data-theme='dark'] {

    .feelback-container,
    .feelback-style {
        --highlight: 255, 255, 255;
        --highlight-opacity: 0.15;
        --bg: transparent;

        .dialog {
            .content {
                background: #111c29;
            }
        }
    }
}
