.feelback-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.feelback-container textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: .3rem .4rem;
    font-size: 0.9rem;
}

.feelback-container textarea:focus {
    outline-color: #aaa;
}

.feelback-container .feelback-btn:nth-child(1).active {
    background-color: rgb(149, 233, 190);
}

.feelback-container .feelback-btn:nth-child(2).active {
    background-color: rgb(255, 187, 187);
}



.feelback-yesno .feelback-q {
    font-size: 0.9em;
    padding: 0;
}

.feelback-yesno svg {
    width: 16px;
    height: 16px;
}

.divider {
    margin-top: 1rem;
    height: 0.5px;
    width: 100%;
    border: 1px solid #eee;
}
